<script src="../assets/vendors/jquery/jquery.js"></script>
<script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
<script src="/assets/vendors/bootstrappaginator/bootstrap-paginator.min.js"></script>
<!-- <script>NProgress.done()</script> -->
</body>

</html>
<script src="/assets/js/common.js"></script>